.alerta {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    z-index: 10000;
    text-align: center;
    animation: fadeOut 5s forwards;
  
}

.success {
    background-color: white;
    color: #4caf50;;
    border-radius: 2px #4caf50 ;
}